
/* Typography */
h1 {
    font-size: 2em;
    color: #000060;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background: linear-gradient(to bottom, #01374a 0%, #01374a calc(100% - 1900px), #bbedff calc(100% - 300px), #bbedff 100%);
}

body.mother {
    background: linear-gradient(to bottom, #01374a, #01374a) top,
                linear-gradient(to bottom, #bbedff, #bbedff) bottom;
    background-repeat: no-repeat;
    background-size: 100% 450px, 100% 1950px; 
    background-position: top, bottom;
}

select {
    border-radius: 20px;
}

input[type="number"],
input[type="text"] {
    border-radius: 20px;
}

/* Logo */
.logo {
    max-width: 15%;
    height: auto;
}

/* Custom Class */
.brilliant {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding-top: 10px;
}

/* Car Rows */
.car-row {
/*  border-bottom: 1px solid #ccc;*/
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: max-height 0.5s ease;
    overflow: hidden;
    position: relative;
    
    border-radius: 15px;
}
.car-row:nth-child(odd) {
    background-color: #e0e0e0; /* Background color for odd rows */
}

.car-row:nth-child(even) {
    background-color: #f0f0f0; /* Background color for even rows */
}

/* Car Info */
.car-info {
    flex: 1;
    padding: 0 10px;
}

/* Car Image */
.car-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Compare Container */
.compare-container {
    display: flex;
    justify-content: space-around;
}

/* Car Details */
.car-details {
    flex: 1;
    padding: 0 10px;
}

/* Table */
.tabler {
    border-collapse: collapse;
    width: 95%;
    font-style: oblique;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: left;
    background-color: #bbedff;
}

/* Highlight Colors */
.highlight-green {
    color: green;
}

.highlight-red {
    color: red;
}
.smarter {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
/*  padding-bottom: 100px;*/
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #01374a;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #002244;
}

button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
table.tablemother{
box-shadow: 0 0 10px #000060;
    font-weight: bold;
    text-align: left;
    background-color: #356f85;
}
table.intro{
    background-color: aqua;
    background-color: aqua;
}
.hidden {
    display: none;
}
.align-right {
    position: absolute;
/*  top: 0;*/
    right: 0;
/*  margin-top: 20px; /* Adjust this value as needed */*/
/*  margin-right: 20px; /* Adjust this value as needed */*/
/*  comment*/
}

.purchase-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
/* Larger car image for More Info modal */
.modal-content .car-image {
    max-width: 300px; /* Adjust the max-width as needed */
    height: auto;
    margin-bottom: 20px; /* Add some margin to separate from other content */
}

/* Larger car image for Compare modal */
.compare-container .car-image {
    max-width: 200px; /* Adjust the max-width as needed */
    height: auto;
    margin-bottom: 20px; /* Add some margin to separate from other content */
}
.filters-box {
    border: 4px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    margin-bottom: 20px; /* Add margin to separate from other content */
    font-size: 16px;
    font-weight: normal;
    
}
.smarter {
    color:black;
    font-size: 16px;
    font-weight: normal;
}
.filtersContainer {
    transition: max-height 0.5s ease-in-out;
}